USE [ObligatorioP3]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 24/6/2025 21:05:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Agencias]    Script Date: 24/6/2025 21:05:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agencias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Direccion] [nvarchar](max) NOT NULL,
	[Latitud] [nvarchar](max) NOT NULL,
	[Longitud] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Agencias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Auditorias]    Script Date: 24/6/2025 21:05:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auditorias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NULL,
	[Accion] [nvarchar](max) NULL,
	[Entidad] [nvarchar](max) NULL,
	[EntidadId] [nvarchar](max) NULL,
	[Observaciones] [nvarchar](max) NULL,
	[Fecha] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Auditorias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Envios]    Script Date: 24/6/2025 21:05:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Envios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NroTracking] [int] NOT NULL,
	[FuncionarioId] [int] NOT NULL,
	[ClienteId] [int] NOT NULL,
	[Peso] [decimal](18, 4) NOT NULL,
	[Estado] [int] NOT NULL,
	[TipoDeEnvio] [nvarchar](8) NOT NULL,
	[AgenciaId] [int] NULL,
	[Direccion] [nvarchar](max) NULL,
	[Valor] [nvarchar](max) NULL,
 CONSTRAINT [PK_Envios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seguimiento]    Script Date: 24/6/2025 21:05:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seguimiento](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FuncionarioId] [int] NOT NULL,
	[Comentario] [nvarchar](max) NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
	[EnvioId] [int] NULL,
 CONSTRAINT [PK_Seguimiento] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 24/6/2025 21:05:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Apellido] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Rol] [int] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250331115043_MInicial', N'8.0.14')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250430132952_mInicial', N'8.0.15')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250518201916_mInicial', N'8.0.15')
GO
SET IDENTITY_INSERT [dbo].[Agencias] ON 

INSERT [dbo].[Agencias] ([Id], [Nombre], [Direccion], [Latitud], [Longitud]) VALUES (1, N'Tres Cruces', N'Bvar. Artigas 1825', N'-34.89', N'-56.16')
INSERT [dbo].[Agencias] ([Id], [Nombre], [Direccion], [Latitud], [Longitud]) VALUES (2, N'Terminal Paysandu', N'Bvar. Artigas 770', N'-32.32', N'-58.07')
INSERT [dbo].[Agencias] ([Id], [Nombre], [Direccion], [Latitud], [Longitud]) VALUES (3, N'Terminal Punta del Este', N'Bvar. Artigas esq. Calle 32', N'-34.96', N'-54.94')
SET IDENTITY_INSERT [dbo].[Agencias] OFF
GO
SET IDENTITY_INSERT [dbo].[Auditorias] ON 

SET IDENTITY_INSERT [dbo].[Auditorias] OFF
GO
SET IDENTITY_INSERT [dbo].[Envios] ON 

INSERT [dbo].[Envios] ([Id], [NroTracking], [FuncionarioId], [ClienteId], [Peso], [Estado], [TipoDeEnvio], [AgenciaId], [Direccion], [Valor]) VALUES (1, 51324471, 1, 3, CAST(15.0000 AS Decimal(18, 4)), 1, N'Comun', 1, NULL, NULL)
INSERT [dbo].[Envios] ([Id], [NroTracking], [FuncionarioId], [ClienteId], [Peso], [Estado], [TipoDeEnvio], [AgenciaId], [Direccion], [Valor]) VALUES (2, 51417591, 1, 3, CAST(7.0000 AS Decimal(18, 4)), 0, N'Comun', 2, NULL, NULL)
INSERT [dbo].[Envios] ([Id], [NroTracking], [FuncionarioId], [ClienteId], [Peso], [Estado], [TipoDeEnvio], [AgenciaId], [Direccion], [Valor]) VALUES (6, 51654321, 1, 3, CAST(2.0000 AS Decimal(18, 4)), 0, N'Comun', 3, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Envios] OFF
GO
SET IDENTITY_INSERT [dbo].[Seguimiento] ON 

INSERT [dbo].[Seguimiento] ([Id], [FuncionarioId], [Comentario], [Fecha], [EnvioId]) VALUES (2, 1, N'Envio creado', CAST(N'2025-05-16T19:04:52.6457178' AS DateTime2), 2)
INSERT [dbo].[Seguimiento] ([Id], [FuncionarioId], [Comentario], [Fecha], [EnvioId]) VALUES (3, 1, N'sdvsdfs', CAST(N'2025-05-16T19:43:15.9659544' AS DateTime2), 2)
INSERT [dbo].[Seguimiento] ([Id], [FuncionarioId], [Comentario], [Fecha], [EnvioId]) VALUES (7, 1, N'Envio creado', CAST(N'2025-05-16T19:54:32.8107010' AS DateTime2), 6)
SET IDENTITY_INSERT [dbo].[Seguimiento] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [Nombre], [Apellido], [Email], [Password], [Rol]) VALUES (1, N'Pepe', N'Alvarez', N'pepe@gmail.com', N'$2a$12$Qne.Yo63dKCYKwWoam3DLej1l5tNVb1xjPA526V4AhQ.xGOL5kqJS', 0)
INSERT [dbo].[Usuarios] ([Id], [Nombre], [Apellido], [Email], [Password], [Rol]) VALUES (3, N'Matias', N'Oreiro', N'matio@gmail.com', N'$2a$12$8qs/DLWlVTZ4OUuvVHs19uzkTcVA7wzMg6h/4R9y8/BJCDmutSUTe', 1)
INSERT [dbo].[Usuarios] ([Id], [Nombre], [Apellido], [Email], [Password], [Rol]) VALUES (4, N'Seba', N'Hohl', N'sebah@gmail.com', N'$2a$12$Qne.Yo63dKCYKwWoam3DLej1l5tNVb1xjPA526V4AhQ.xGOL5kqJS', 0)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
ALTER TABLE [dbo].[Envios]  WITH CHECK ADD  CONSTRAINT [FK_Envios_Agencias_AgenciaId] FOREIGN KEY([AgenciaId])
REFERENCES [dbo].[Agencias] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Envios] CHECK CONSTRAINT [FK_Envios_Agencias_AgenciaId]
GO
ALTER TABLE [dbo].[Envios]  WITH CHECK ADD  CONSTRAINT [FK_Envios_Usuarios_ClienteId] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Usuarios] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Envios] CHECK CONSTRAINT [FK_Envios_Usuarios_ClienteId]
GO
ALTER TABLE [dbo].[Envios]  WITH CHECK ADD  CONSTRAINT [FK_Envios_Usuarios_FuncionarioId] FOREIGN KEY([FuncionarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Envios] CHECK CONSTRAINT [FK_Envios_Usuarios_FuncionarioId]
GO
ALTER TABLE [dbo].[Seguimiento]  WITH CHECK ADD  CONSTRAINT [FK_Seguimiento_Envios_EnvioId] FOREIGN KEY([EnvioId])
REFERENCES [dbo].[Envios] ([Id])
GO
ALTER TABLE [dbo].[Seguimiento] CHECK CONSTRAINT [FK_Seguimiento_Envios_EnvioId]
GO
ALTER TABLE [dbo].[Seguimiento]  WITH CHECK ADD  CONSTRAINT [FK_Seguimiento_Usuarios_FuncionarioId] FOREIGN KEY([FuncionarioId])
REFERENCES [dbo].[Usuarios] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Seguimiento] CHECK CONSTRAINT [FK_Seguimiento_Usuarios_FuncionarioId]
GO
