@{
    ViewData["Title"] = "Ofertar";
}

<h1>Ofertar subasta</h1>
<form method="post">
    <label for="monto">Monto</label>
    <input type="number" name="monto" />
    <br>
    <input type="submit" class="btn btn-primary" value="Ofertar"></input
</form>

@ViewBag.Mensaje