
@{
    ViewData["Title"] = "CargarSaldo";
}

<h1>Carga de saldo</h1>

<form method="post">
    <label for="monto">Monto</label>
    <input type="number" name="monto">
    <br>
    <input type="submit" class="btn btn-primary" value="Cargar">
</form>

@ViewBag.Mensaje