@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>Sebastián Hohl - 327007</p>
    <p>Matías Oreiro - 239479</p>
    <p>Programación 2 - M2E - Liliana Pino</p>

</div>
